div {
  width: 90%;
  margin: auto;
  border: solid black 2px;
  overflow-x: scroll;
}
table {
  table-layout: fixed;
}
td {
  min-width: 310px;
  height: auto;
}
div::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 20px;
}
div::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: orange;
    box-shadow: 0px 0px 2px #807f7f;
}
div::-webkit-scrollbar-track {
    background-color: #efefef;
}
img {
  width: 100%;
}
