div {
  width: 90%;
  margin: auto;
  overflow-x: scroll;
}
table {
  table-layout: fixed;
}
td {
  min-width: 310px;
  height: auto;
}
div::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 20px;
}
div::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: orange;
}
div::-webkit-scrollbar-track {
    background-color: #d8d8d8;
    border-radius: 10px;
}
img {
  width: 100%;
}
